# Dependencias de Node.js
node_modules/

# Archivos de configuración del entorno
.env
.env.local
.env.*.local

# Archivos de compilación
dist/
build/
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de editor
.vscode/
.idea/

# Archivos de pruebas
coverage/

# Archivos temporales
*.tmp
*.swp
*.swo